.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }
  
  .return{
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 45px;
    text-decoration: none;
    color: black;
    border: 1px solid #56f89a;
    background: #56f89a;
    border-radius: 4px;
    transition: all 400ms ease;
    cursor: pointer;
    text-align: center;
  }
  
  .return:hover{
    background: #fff;
    color: black;
  }
  
  .cardDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 6px;
    margin: 30px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    background: #fff;
  }
  
  .cardDetail:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
  }
  
  .cardDetail img{
    margin: 50px 10px 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  }
  
  .cardDetail button{
    padding: 5px;
    width: 100px;
    height: 38px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #DB009D;
    background: #DB009D;
    border-radius: 4px;
    transition: all 400ms ease;
    cursor: pointer;
    text-align: center;
  }
  
  .cardDetail button:hover{
    background:none;
    color: #DB009D;
  }
  
  .cardDetail button:focus{
    outline: 5px auto #DB009D !important;
  }